@import url('variables.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'poppins', sans-serif;
    /*background-color: #101720;*/
    background: rgb(13,0,36);
    background: linear-gradient(90deg, rgba(13,0,36,1) 0%, rgba(9,0,20,1) 35%, rgba(24,0,46,1) 100%);
}

/* Header */
header {
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2rem;
    color: var(--text-color);
}
nav {
    padding: 2rem 0rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
}
nav a:hover{
    color: rgb(255, 255, 255 ,0.8);;
}
header button {
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
    border: none;
}
header button a {
    text-decoration: none;
    color: var(--purple2);
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
}
header button:hover {
    color: var(--violet);
    background-color: rgb(255, 255, 255 ,0.8);
}

/* Hero */

main {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 5rem);
}
.main-content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 1;
}
.main-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.main-content h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.main-content button {
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    border: 1px solid transparent;
}
.main-content button a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    color: var(--purple2);
    font-weight: 300;
}
.try {
    margin-left: 1.4rem;
}

.main-content button:hover {
    background-color: rgb(255, 255, 255 ,0.8);
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    header {
        padding: 1rem 1rem;
    }
    .main-content {
        margin-left: 0;
        padding: 0 2rem;
        font-size: 1rem;
    }
    .main-content h1 {
        font-size: 2rem;
    }
    .main-content h3 {
        font-size: 1rem;
    }
    .robot{
        scale: 0.6;
        min-width: 90vw;
    }
    
}

.robot{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: -1;
}